#content{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	margin-bottom:50px;
}
#content .nav{
	line-height:80px;
	margin-left:44px;	
}
#content .nav span{
	color:red;
}
#content .left{
	float:left;
	width:300px;
}
#content .left ul{
	width:250px;
		
}
#content .left ul hr{
	margin:6px 0 12px;
	height:1px;
	border:none;
	border-top:1px dashed #000;
}
#content .left ul hr:nth-of-type(3n+1){
	border-top:1px solid #000;
}
#content .left ul li{
	width:250px;
	height:40px;
	line-height:40px;
	background:#eee;
	
}
#content .left ul p{
	line-height:30px;
}
#content .left ul li:nth-of-type(3n+1){
	background:#aa2270;
	text-align:center;
	color:white;
	
}
#content .left ul li div{
	width:0; 
	height:0; 
	border:10px solid #eee; 
	border-left:10px solid #ccc;
	float:left;
	margin-top:10px;
	margin-left:8px;
}
#content .right{
	width:900px;
	overflow:hidden;
}
#content .right li{
	line-height:40px;
	font-size:12px;
	border-bottom:1px dashed #ccc;
}
#content .right li span{
	float:right;
	color:#ccc;
}
#content .right .page{
	margin:50px;
	float:right;
}
#content .right .page a{
	display:inline-block;
	width:32px;
	height:26px;
	background:#ccc;
	text-align:center;
	line-height:26px;
	color:#000;
}
#content .right .page a:nth-of-type(1),
#content .right .page a:last-of-type{
	width:80px;
	background:#aa2270;
	color:#fff;
}